<div class="match_main_div">
  <mat-table [dataSource]="dataSource" class="mat_table">

    <ng-container matColumnDef="datePlayed">
      <mat-header-cell *matHeaderCellDef class="column_head"> Date Played </mat-header-cell>
      <mat-cell *matCellDef="let match" class="cell"> {{match.datePlayed}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sportsClub1">
      <mat-header-cell *matHeaderCellDef class="column_head"> Club 1 </mat-header-cell>
      <mat-cell *matCellDef="let match" class="cell"> {{match.sportsClub1.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score1">
      <mat-header-cell *matHeaderCellDef class="column_head"> Score 1 </mat-header-cell>
      <mat-cell *matCellDef="let match" class="cell"> {{match.score1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score2">
      <mat-header-cell *matHeaderCellDef class="column_head"> Score 2 </mat-header-cell>
      <mat-cell *matCellDef="let match" class="cell"> {{match.score2}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sportsClub2">
      <mat-header-cell *matHeaderCellDef class="column_head"> Club 2 </mat-header-cell>
      <mat-cell *matCellDef="let match" class="cell"> {{match.sportsClub2.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>

