#card {
  margin: 50px auto;
  text-align: center;
  width:60%;
  min-height: 120px;
  background-color: transparent;
  color: white;
  border: 2px solid #e90052;
}

#button_div {
  margin-top: 4%;
  text-align: center;
}

#card_div {
  text-align: center;
  margin-top: 3%;
}

#details {
  font-size: 20px;
}

.btn {
  border-color: #e90052;
}

.btn:focus {
  border-color: mediumpurple;
  color: mediumpurple;
}
